/* Root Elements */
:root {
  --theme-color: #72bbef;
  --theme-color-depth-v1: #2a9ae9;
  --theme-color-depth-v2: #1d88d4;
  --main-font: "Roboto", sans-serif;

  /* Custom Colors */
  --light-grey: #e6e6e6;
  --gold: #ffb80c;
  --grey: #f1f1f1;
  --pink: #f1a3b4;
  --light-text-grey: #575757;
  --font-thm-color: #6689ce;
  --filter-black: invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg)
    brightness(101%) contrast(100%);
  --filter-white: invert(0%) sepia(0%) saturate(0%) hue-rotate(156deg)
    brightness(101%) contrast(100%);

  /* Transition */
  --ease_p2_s: 0.2s ease all;
  --ease_p5_s: 0.5s ease all;

  /* Border Colors */
  --border-color-light-black: 1px solid rgb(0 0 0 / 16%);
}

/* Custom Properties For Page */
.main_thm_background {
  background: var(--theme-color);
}
.main_thm_background_depth_1 {
  background: var(--theme-color-depth-v1);
}
.main_thm_background_depth_2 {
  background: var(--theme-color-depth-v2);
}
.main_thm_color {
  color: var(--theme-color);
}
.main_thm_color_depth_1 {
  color: var(--theme-color-depth-v1);
}
.main_thm_color_depth_2 {
  color: var(--theme-color-depth-v2);
}

.white_bg {
  background: #fff;
}
.white_color {
  color: #fff;
}

/* Font Properties */
.font_uppercase {
  text-transform: uppercase;
}

/* Cursors */
.hand_click_cursor {
  cursor: pointer;
}
.no_txt_decoration {
  text-decoration: none;
}

/* Sections */
.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.fl_verti_center {
  align-items: center;
}
.fl_hori_center {
  justify-content: center;
}
.fl_space_between {
  justify-content: space-between;
}
.fl_space_evenly {
  justify-content: space-evenly;
}
.fl_end {
  justify-content: flex-end;
}

/* Components */
.thm-btn {
  background: #fff;
  padding: 10px 40px;
  border: 1px solid #0000004a;
  transition: var(--ease_p2_s);
  cursor: pointer;
}
.thm-btn:hover {
  background: #f4f4f4;
}
.thm-btn:active {
  background: #f3f3f3;
}
input {
  padding: 5px 50px 5px 1rem;
}

/* Custom Spacing */
.pd_1_rem {
  padding: 1rem;
}
.pd_right_20px {
  padding-right: 20px;
}
.mg_ud_20 {
  margin: 20px 0;
}

.pd_ud_20 {
  padding: 20px 0;
}
